.section1 {
	background-color: #f8869e;
}

.section2 {
	background-color: #ff00ff;
}

.section3 {
	background-color: #0000ff;
}

.section4 {
	background-color: #f6f3ef;
}

.card, .card-img-top {
	border-radius : 0;
}


.card, {
	border: 0;
}